@import 'libs/normalize';
@import 'libs/variables';
body {
  background-color: $primary-white;
}
.gallery {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  max-width: 1180px;
  width: calc(100% - 700px);
  margin: 0 auto;
  padding-bottom: 20px;
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    &__text {
      display: flex;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      a,
      span {
        font-size: 14px;
        transition: 0.3s;
      }
      a:hover {
        color: $hover-color;
      }
    }
  }
}
.gallery__place {
  width: 100%;
}
.mySwiperModal {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  position: relative;
  .swiper-wrapper {
    width: 100%;
  }
  .swiper-slide {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .swiper-slide img {
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .button-prev,
  .button-next {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .button-prev {
    left: -15px;
  }

  .button-next {
    right: -15px;
  }
  .swiper-pagination {
    transform: translateY(15px);
  }
}
.mySwiper {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  position: relative;
  .swiper-wrapper {
    width: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 400% 100%;
    animation: skeleton-animation 1.5s infinite linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .button-prev,
  .button-next {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .button-prev {
    left: -15px;
  }

  .button-next {
    right: -15px;
  }
  .swiper-pagination {
    transform: translateY(15px);
  }
}
.stars {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: auto;

  max-width: 1180px;
  width: calc(100% - 700px);
  margin: 0 auto;
  grid-area: cards;
  padding-bottom: 20px;
  &__text__container {
    display: flex;
  }
  &__title {
    font-size: 30px;
    text-align: center;
  }
  &__text {
    font-size: 16px;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    & span {
      display: block;
      text-indent: 20px;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      row-gap: 10px;
      cursor: pointer;
      &__div {
        cursor: default;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
      }
      &__container {
        width: 100%;
        height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
      }
      &__img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
      &__name {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.contacts {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  row-gap: 20px;
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
  p {
    width: 100%;
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  &__title {
    font-weight: bold;
  }
  &__text {
    width: 600px;
    text-align: center;
    a {
      text-decoration: underline;
    }
  }
  &__counter {
    width: 88px;
    height: 31px;
    border: 0;
  }
  &__people {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin-top: 30px;
    li {
      display: flex;
    }
    &__post {
      flex: 1;
    }
    div {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
.modal__newsName {
  font-size: 20px;
  font-weight: bold;
  text-indent: 20px;
}
.modal__newsDate {
  font-size: 14px;
  color: $border-color;
  text-indent: 20px;
}
.modal__newsText {
  span {
    display: block;
    text-indent: 20px;
  }
}
.modal__afisha {
  height: 100%;
  object-fit: contain;
}

@keyframes skeleton-animation {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

@media (max-width: 1600px) {
  .gallery {
    width: calc(100% - 520px);
  }
  .stars {
    width: calc(100% - 520px);
  }
  .mySwiperModal {
    height: 100%;
  }
}

@media (max-width: 1030px) {
  .gallery {
    order: 3;
    width: 100%;
  }
  .stars {
    order: 3;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .stars {
    &__title {
      font-size: 20px;
    }
  }
  .gallery__container__text {
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (max-width: 1100px) {
  .stars {
    &__list {
      flex-wrap: wrap;
      row-gap: 20px;
      &__item {
        width: 200px;
        &__container {
          height: 300px;
        }
      }
    }
  }
}
@media (max-width: 610px) {
  .contacts {
    &__text {
      width: 300px;
    }
  }
  .stars__text__container {
    flex-direction: column;
  }
}
@media (max-width: 449px) {
  .mySwiper {
    .swiper-slide {
      background: none;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
@media (max-width: 480px) {
  .contacts__people {
    row-gap: 10px;
    align-items: center;
    li {
      width: 50%;
      align-items: center;
      flex-direction: column;
      div {
        align-items: center;
      }
    }
  }
}
