@import 'libs/normalize';
@import 'libs/variables';
body {
  background-color: $primary-white;
}
.gallery {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    &__text {
      display: flex;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      a,
      span {
        font-size: 14px;
        transition: 0.3s;
      }
      a:hover {
        color: $hover-color;
      }
    }
  }
}
.main__page__container {
  display: flex;
  padding-top: 40px;
  column-gap: 30px;
}

.mySwiper {
  height: 350px;
  padding: 20px 0;
  position: relative;
  .swiper-slide {
    width: 320px;

    position: relative;
  }
  .swiper-slide img {
    width: 320px;
    height: 320px;
    object-fit: cover;

    display: block; /* убеждаемся, что изображение не имеет отступы сверху и снизу */
    margin: 0 auto;
  }
  .button-prev,
  .button-next {
    background-color: transparent;
    border: none;
    width: 50px; /* Задайте желаемую ширину кнопок */
    height: 50px; /* Задайте желаемую высоту кнопок */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; /* Позиционирование по вертикали в центре */
    transform: translateY(-50%);
    z-index: 10;
  }
  .button-prev {
    left: -15px; /* Позиционирование слева */
  }

  .button-next {
    right: -15px; /* Позиционирование справа */
  }
  .swiper-pagination {
    transform: translateY(15px);
  }
}
