@import 'libs/normalize';
@import 'libs/variables';
body {
  background-color: $primary-white;
}
.gallery {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 20px;
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    &__text {
      display: flex;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      a,
      span {
        font-size: 14px;
        transition: 0.3s;
      }
      a:hover {
        color: $hover-color;
      }
    }
  }
}
.main__page__container {
  display: grid;
  padding-top: 40px;
  column-gap: 30px;
  grid-template-columns: 300px auto 300px;
  grid-template-areas: 'news cards afisha';
  width: 100%;
}
.main__page__container__index {
  display: grid;
  padding-top: 40px;
  column-gap: 30px;
  grid-template-columns: 300px 1180px 300px;
  grid-template-areas: 'news cards afisha';
  width: 100%;

  justify-content: center;
}
.grid__cards {
  grid-area: cards;
}
.grid__afisha {
  grid-area: afisha;
}
.grid__news {
  grid-area: news;
}

.mySwiper {
  height: 350px;
  padding: 20px 0;
  position: relative;
  .swiper-slide {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .swiper-slide img {
    height: 100%;

    object-fit: cover;
    display: block; /* убеждаемся, что изображение не имеет отступы сверху и снизу */
    margin: 0 auto;
  }
  .button-prev,
  .button-next {
    background-color: transparent;
    border: none;
    width: 50px; /* Задайте желаемую ширину кнопок */
    height: 50px; /* Задайте желаемую высоту кнопок */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; /* Позиционирование по вертикали в центре */
    transform: translateY(-50%);
    z-index: 10;
  }
  .button-prev {
    left: -15px; /* Позиционирование слева */
  }

  .button-next {
    right: -15px; /* Позиционирование справа */
  }
  .swiper-pagination {
    transform: translateY(15px);
  }
}
.stars {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: auto;

  max-width: 1180px;
  margin: 0 auto;
  grid-area: cards;
  padding-bottom: 20px;
  &__title {
    font-size: 30px;
    text-align: center;
  }
  &__text {
    font-size: 16px;
    background-color: $light-grey;
    padding: 20px;
    border-radius: 10px;
    & span {
      display: block;
      text-indent: 20px;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    &__item {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      cursor: pointer;
      &__container {
        width: 100%;
        height: 300px;
        position: relative;
      }
      &__img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      &__name {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.contacts {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  row-gap: 10px;
  padding-top: 50px;
  &__title {
    font-weight: bold;
  }
  &__text {
    width: 600px;
    text-align: center;
    a {
      text-decoration: underline;
    }
  }
}
.modal__newsName {
  font-size: 20px;
  font-weight: bold;
  text-indent: 20px;
}
.modal__newsDate {
  font-size: 14px;
  color: $border-color;
  text-indent: 20px;
}
.modal__newsText {
  span {
    display: block;
    text-indent: 20px; // Отступ красной строки
  }
}
.modal__afisha {
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1850px) {
  .main__page__container__index {
    grid-template-columns: 300px 1150px 300px;
  }
}
@media (max-width: 1810px) {
  .main__page__container__index {
    grid-template-columns: 300px 1100px 300px;
  }
}
@media (max-width: 1770px) {
  .main__page__container__index {
    grid-template-columns: 300px 1050px 300px;
  }
}
@media (max-width: 1730px) {
  .main__page__container__index {
    grid-template-columns: 300px 1000px 300px;
  }
}
@media (max-width: 1690px) {
  .main__page__container__index {
    grid-template-columns: 300px 950px 300px;
  }
}
@media (max-width: 1650px) {
  .main__page__container__index {
    grid-template-columns: 300px 900px 300px;
  }
}
@media (max-width: 1610px) {
  .main__page__container__index {
    grid-template-columns: 300px 850px 300px;
  }
}
@media (max-width: 1570px) {
  .main__page__container__index {
    grid-template-columns: 300px 800px 300px;
  }
}
@media (max-width: 1530px) {
  .main__page__container__index {
    grid-template-columns: 300px 750px 300px;
  }
}
@media (max-width: 1450px) {
  .main__page__container__index {
    grid-template-columns: 300px 700px 300px;
  }
}
@media (max-width: 1400px) {
  .main__page__container__index {
    grid-template-columns: 300px 650px 300px;
  }
}
@media (max-width: 1350px) {
  .main__page__container__index {
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    display: grid;
    column-gap: 30px;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'afisha'
      'news'
      'cards';
    justify-content: center;
    row-gap: 10px;
  }
}
@media (max-width: 1350px) {
  .main__page__container__index {
    grid-template-columns: 100%;
  }
}
@media (max-width: 940px) {
  .gallery {
    width: 90%;
  }
}
@media (max-width: 1350px) {
  .main__page__container {
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    display: grid;
    column-gap: 30px;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'afisha'
      'news'
      'cards';
    justify-content: center;
  }
}
@media (max-width: 420px) {
  .mySwiper {
    height: 200px;
  }
  .swiper-slide img {
    height: 100% !important;
  }
}
@media (max-width: 480px) {
  .stars {
    &__title {
      font-size: 20px;
    }
  }
  .gallery__container__text {
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (max-width: 1100px) {
  .stars {
    &__list {
      flex-wrap: wrap;
      row-gap: 20px;
      &__item {
        width: 200px;
        &__container {
          height: 300px;
        }
      }
    }
  }
}
@media (max-width: 610px) {
  .contacts {
    &__text {
      width: 300px;
    }
  }
}
